Source: chicken-cairo
Section: libs
Priority: optional
Maintainer: Ivan Raikov <raikov@oist.jp>
Build-Depends: debhelper (>> 3.0.0), chicken-bin (>= 3.0.0), libchicken-dev (>= 3.0.0), libcairo2-dev
Standards-Version: 3.6.2

Package: chicken-cairo
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, chicken-bin (>= 3.0.0), libcairo2 (>= 1.4.0)
Description: Chicken Scheme bindings for Cairo
 This Chicken Scheme extension provides Scheme bindings for the Cairo
 vector graphics library.
 .
 Homepage: http://www.call-with-current-continuation.org/eggs/cairo.html
